[Desktop Entry]
Type=Application
Name=reMarkable OneNote Sync
Comment=Synchronize reMarkable notebooks to OneNote
Exec=rmOneNoteSync/rmOneNoteSyncApp
Icon=rmOneNoteSyncApp
Categories=Office;Utility;
Terminal=false